.button {
	border-radius: 3px;
	border: 2px solid blue;
	padding: 5px 15px;
	cursor: pointer;
	&.primary {
		background: linear-gradient(360deg, rgb(20, 45, 114) 0%, rgb(0, 114, 251) 10%, #0000ff 50%);
		height: 25px;
		.text {
			color:#fff;
		}
	}
}